<p class="bsw-hide">
  <i id="var-font-symbol" data-bsw-value="{{ scaffold.cnf.fontSymbol }}"></i>
</p>
<div class="bsw-page-loading" style="{{ scaffold.cnf|imageStyle('loading') }}">
  <span>{{ 'Loading'|trans({}, 'twig') }}</span>
</div>