<!-- for global var -->
<p class="bsw-hide">
  <i id="var-font-symbol" bsw-value="{{ scaffold.cnf.font_symbol }}"></i>
</p>

<!-- for loading vue -->
<div
  class="bsw-page-loading"
  {% if scaffold.cnf.loading_background_image is not empty %}
    style="background-image: url('{{ scaffold.cnf.loading_background_image }}')"
  {% endif %}
>
  <span>{{ 'Loading'|trans({}, 'twig') }}</span>
</div>