<!-- for global var -->
<p class="bsw-hide">
  <i id="var-font-symbol" bsw-value="{{ scaffold.cnf.font_symbol }}"></i>
</p>

<!-- for loading vue -->
<div class="bsw-page-loading" style="{{ scaffold.cnf|image_style('loading') }}">
  <span>{{ 'Loading'|trans({}, 'twig') }}</span>
</div>