
<!-- for global var -->
<p class="app-hide">
  <i id="var-font-symbol" bsw-value="{{ scaffold.cnf.font_symbol }}"></i>
</p>

<!-- for loading vue -->
<div class="app-page-loading">
  <span>{{ 'loading'|trans({}, 'twig') }}</span>
</div>