{% extends 'layout/blank.html.twig' %}
{% set tplContentClass = ['bsw-chart-container', tplContentClassDiy ?? null]|joinClass %}

{% block page %}
  {% block filterBefore %}{% endblock %}
  {% if 'filter' not in logic.display ?? [] %}
    {% block filter %}
      {% include 'limbs/filter.html.twig' %}
    {% endblock %}
  {% endif %}
  {% block filterAfter %}{% endblock %}
  {% block chartBefore %}{% endblock %}
  {% block chart %}
    <div class="bsw-chart-list">
      {% for item in chart.items %}
        {% include 'limbs/chart.html.twig' with {chart: item} %}
      {% endfor %}
    </div>
  {% endblock %}
  {% block chartAfter %}{% endblock %}
{% endblock %}

{% block javascript %}
{% if 'filter' not in logic.display ?? [] %}
  {% include 'javascript/filter.md.twig' %}
{% endif %}
{% include 'javascript/chart.md.twig' %}
{% endblock %}