{% extends 'layout/blank.html.twig' %}
{% set tplContentClass = ['bsw-content-document', tplContentChildrenClass ?? null]|joinClass %}

{% block loading %}{% endblock %}

{% block page %}
  <div class="content-markdown">
    {{ data.data.document|raw }}
  </div>
{% endblock %}
