{% extends 'w3c'|twig('foundation') %}

{% block w3c %}
  {% if limbs_innocence ?? true %}
    {% include 'innocence'|twig('limbs') %}
  {% endif %}
  <div class="{{ ['bsw-body', tpl_body_class ?? null]|filter(v => v)|join(' ') }}">
    <template>
      {% if limbs_init ?? true %}
        {% include 'init'|twig('limbs') %}
      {% endif %}
      {{ (modal_html ?? null)|raw }}
      <a-config-provider :locale="locale">
        {% block body %}{% endblock %}
      </a-config-provider>
    </template>
  </div>
{% endblock %}
