{% extends 'foundation/w3c.html.twig' %}

{% block w3c %}
  {% if limbsInnocence ?? true %}
    {% include 'limbs/innocence.html.twig' %}
  {% endif %}
  <div class="{{ ['bsw-body', tplBodyClass ?? null]|filter(v => v)|join(' ') }}">
    <template>
      {% if limbsInit ?? true %}
        {% include 'limbs/init.html.twig' %}
      {% endif %}
      {% if 'modal' not in logic.display ?? [] %}
        {{ (modalHtml ?? null)|raw }}
      {% endif %}
      {% if 'drawer' not in logic.display ?? [] %}
        {{ (drawerHtml ?? null)|raw }}
      {% endif %}
      {% if 'result' not in logic.display ?? [] %}
        {{ (resultHtml ?? null)|raw }}
      {% endif %}
      <a-config-provider :locale="locale" :auto-insert-space-in-button="true">
        {% block bodyBefore %}{% endblock %}
        {% block body %}{% endblock %}
        {% block bodyAfter %}{% endblock %}
      </a-config-provider>
    </template>
  </div>
{% endblock %}
