{% extends 'foundation/w3c.html.twig' %}

{% block w3c %}
  {% if limbsInnocence ?? true %}
    {% include 'limbs/innocence.html.twig' %}
  {% endif %}
  <div class="{{ ['bsw-body', tplBodyClass ?? null]|filter(v => v)|join(' ') }}">
    <template>
      {% if limbsInit ?? true %}
        {% include 'limbs/init.html.twig' %}
      {% endif %}
      {{ (modalHtml ?? null)|raw }}
      <a-config-provider :locale="locale">
        {% block body_before %}{% endblock %}
        {% block body %}{% endblock %}
        {% block body_after %}{% endblock %}
      </a-config-provider>
    </template>
  </div>
{% endblock %}
