{% extends 'foundation/w3c.html.twig' %}

{% block w3c %}
  {% if limbsInnocence ?? true %}
    {% block innocence %}
      {% include 'limbs/innocence.html.twig' %}
    {% endblock %}
  {% endif %}
  <div class="{{ ['bsw-vue', 'bsw-body', tplBodyClass ?? null]|filter(v => v)|join(' ') }}">
    <template>
      <!-- init -->
      {% if limbsInit ?? true %}
        {% block init %}
          {% include 'limbs/init.html.twig' %}
        {% endblock %}
      {% endif %}
      <!-- modal -->
      {% if 'modal' not in logic.display ?? [] %}
        {% block modalBefore %}{% endblock %}
        {% block modal %}
          {{ (modalHtml ?? null)|raw }}
        {% endblock %}
        {% block modalAfter %}{% endblock %}
      {% endif %}
      <!-- drawer -->
      {% if 'drawer' not in logic.display ?? [] %}
        {% block drawerBefore %}{% endblock %}
        {% block drawer %}
          {{ (drawerHtml ?? null)|raw }}
        {% endblock %}
        {% block drawerAfter %}{% endblock %}
      {% endif %}
      <!-- result -->
      {% if 'result' not in logic.display ?? [] %}
        {% block resultBefore %}{% endblock %}
        {% block result %}
          {{ (resultHtml ?? null)|raw }}
        {% endblock %}
        {% block resultAfter %}{% endblock %}
      {% endif %}
      <a-config-provider :locale="locale" :auto-insert-space-in-button="true">
        {% block bodyBefore %}{% endblock %}
        {% block body %}{% endblock %}
        {% block bodyAfter %}{% endblock %}
      </a-config-provider>
    </template>
  </div>
{% endblock %}
