{% extends 'foundation/w3c.html.twig' %}

{% block w3c %}
  {% if limbs_innocence ?? true %}
    {% include 'limbs/innocence.html.twig' %}
  {% endif %}
  <div class="{{ ['bsw-body', tpl_body_class ?? null]|filter(v => v)|join(' ') }}">
    <template>
      {% if limbs_init ?? true %}
        {% include 'limbs/init.html.twig' %}
      {% endif %}
      {{ (modal_html ?? null)|raw }}
      <a-config-provider :locale="locale">
        {% block body %}{% endblock %}
      </a-config-provider>
    </template>
  </div>
{% endblock %}
