@import "foundation.less";

.bsw-scaffold,
.bsw-menu {
  min-height: 100vh;
}

.ant-layout-header {
  .logo {
    float: left;
  }

  .ant-menu-horizontal {
    line-height: 64px;
  }
}

.ant-layout-sider, .ant-layout-header {
  .ant-menu {
    border-right: none;

    .ant-menu-item a {
      display: inline-block;
    }
  }

  .logo {
    position: relative;
    height: 64px;
    padding-left: 22px;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;

    img {
      display: inline-block;
      height: 32px;
      margin: 0 4px 0 0;
      vertical-align: middle;
    }

    h1 {
      display: inline-block;
      margin: 0 4px;
      font-weight: 100;
      font-size: 20px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
      height: 64px;
      color: #fff;
      overflow: hidden;

      sup {
        font-size: 10px;
        color: #fa8c16;
      }
    }
  }

  .ant-layout-sider-trigger {
    background: transparent;
  }
}

.ant-layout-sider-light, .ant-layout-header-light {
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);

  .logo {
    background: #fff;
    box-shadow: 1px 1px 0 0 #e8e8e8;

    h1 {
      color: #1890ff;
    }
  }

  .ant-layout-sider-trigger {
    &:hover {
      background: rgba(0, 0, 0, .025);
    }
  }
}

.ant-layout-sider-dark, .ant-layout-header-dark {
  .logo {
    background: #002140;

    h1 {
      color: #fff;
    }
  }

  .ant-layout-sider-trigger {
    &:hover {
      background: rgba(255, 255, 255, .06);
    }
  }
}

.ant-pagination {
  margin: 40px 0 0;
  text-align: center;
  padding: 0 10px 45px;
}

.ant-layout {
  min-width: 300px;

  .ant-layout-header {
    background: #fff;
    padding: 0;

    span.icon, span.item {
      height: 64px;
      cursor: pointer;
      transition: all .3s, padding 0s;

      &:hover {
        background: rgba(0, 0, 0, .025);
      }
    }

    span.icon {
      font-size: 20px;
      float: left;
      padding: 0 24px;
    }

    span.item {
      padding: 24px 12px;
      color: rgba(0, 0, 0, .5);
    }

    .user-wrapper {
      display: inline-block;

      &.left {
        float: left;
      }

      &.right {
        float: right;
        margin-right: 24px;
      }

      .avatar {
        color: #1890ff;
        background-color: rgba(119, 188, 251, .25);
        margin-bottom: 3px;
      }

      .username {
        margin-left: 6px;
      }
    }
  }

  .ant-layout-content {
    margin: 20px;
    transition: margin .6s ease-out;

    &.iframe {
      margin: 5px;

      .bsw-persistence {
        padding: 60px 40px;
        @media screen and (max-width: @mobile-lg) {
          padding: 30px !important;
        }
      }
    }

    .ant-breadcrumb {
      margin-bottom: 15px;
    }

    .bsw-welcome {
      padding: 20px;
      background: #fff;
      margin-bottom: 15px;
    }

    .bsw-content {
      overflow: auto;
      padding: 0;

      .bsw-preview {
        background: #fff;
      }

      &.padding {
        padding: 25px;
      }
    }
  }

  @media screen and (max-width: @mobile-lg) {
    .ant-layout-content {
      margin: 10px;
    }
  }

  .ant-layout-footer {
    text-align: center;
    padding: 20px 50px 25px;
  }
}

.bsw-menu-mobile {
  .ant-drawer-body {
    padding: 0;

    .ant-layout-sider {
      height: 100vh;
      display: block !important;
    }
  }
}

.bsw-disable {
  color: #ddd;
}

.bsw-text {
  text-align: center;
  font-size: 16px;
  margin: 25px auto;
}

.bsw-long-text {
  word-break: break-all;
  //word-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap;
}

thead.ant-table-thead > tr > th > div {
  //white-space: nowrap;
}

.bsw-operate {
  &.top {
    text-align: right;
    margin-bottom: 15px;
    @media screen and (max-width: @mobile-lg) {
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }

  &.bottom {
    text-align: left;
    margin-top: 15px;
    @media screen and (max-width: @mobile-lg) {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  button {
    margin: 3px 0;
  }
}

.bsw-record-action {
  button {
    margin: 3px 2px;
  }

  .ant-btn-sm {
    font-size: 12px;
  }
}

.bsw-persistence {
  padding: 80px 40px;
  overflow: hidden;
  transition: padding .6s ease-out;

  > form {
    max-width: 850px;
  }

  .button {
    width: 100%;
    height: 36px;
    margin-top: 6px;
  }

  .bsw-popup-select {
    .button()
  }

  .ant-upload-select {
    width: 100%;

    button {
      .button()
    }
  }

  .ant-upload-drag {
    margin-top: 10px;
    padding: 10px;

    .ant-upload-drag-icon {
      margin-bottom: 10px !important;
    }
  }

  form.ant-form > .ant-form-item:last-child {
    padding-top: 10px;
  }

  @media screen and (max-width: @mobile-lg) {
    padding: 40px 30px !important;
  }
}

.bsw-grant {
  .bsw-persistence {
    padding: 80px 120px;
  }

  form {
    max-width: unset;

    .ant-checkbox-group {
      line-height: unset;
    }
  }

  .ant-form-item-label > label {
    font-size: 16px;
  }
}

.bsw-checkbox-middle {
  form input[type=checkbox], form input[type=radio] {
    width: 16px;
    height: 16px;
  }

  .ant-checkbox-inner {
    width: 18px;
    height: 18px;

    &:after {
      top: 46%;
      left: 23%;
      width: 6.5px;
      height: 11px;
    }
  }

  .ant-checkbox {
    top: -2px;
  }
}

.ant-form-item-label label:after {
  content: ":";
  margin: 0 16px 0 4px;
}

span.ant-form-item-children button {
  margin: 0 6px 6px 0;
}

form.ant-form > .ant-form-item:last-child {
  margin-bottom: 0;
}

form.ant-form > .bsw-form-group {
  margin-bottom: 0;
}

div.ant-input-number, span.ant-time-picker {
  width: 100%;
}

.header-menu ul li {
  i.anticon {
    margin-right: 3px;
  }

  padding: 8px 16px;
}

.ant-menu,
.ant-tag,
.bsw-menu-container .logo,
.bsw-menu,
.bsw-menu-mobile,
.bsw-record-action,
.bsw-operate,
.bsw-grant form,
.ant-layout-header,
.ant-layout-footer,
.ant-form-item-label,
.ant-breadcrumb,
.ant-table-column-title,
.ant-pagination-item-ellipsis,
.ant-pagination-options-quick-jumper,
.ant-modal-title,
.ant-tabs-nav-wrap {
  user-select: none;
}

.bsw-pre {
  margin-bottom: 0;
}

span.ant-calendar-picker {
  width: 100% !important;
}

.ant-layout-sider {
  transition: all .1s;

  ul[role="menu"] > li[role="menuitem"] {
    margin-top: 6px !important;
    margin-bottom: 6px !important;

    &:first-child {
      margin-top: 16px !important;
    }

    &:last-child {
      margin-bottom: 16px !important;
    }
  }
}

.bsw-preview-image {
  display: inline-flex;
  border: 1px rgba(24, 144, 255, 1) dashed;
  border-radius: 4px;
  padding: 4px;
  margin: 0 auto;
  cursor: pointer;

  img {
    max-width: 128px;
    max-height: 128px;
  }
}

.bsw-tabs-links {
  margin: 10px 0 0;
  text-align: center;
}

.bsw-chart-list {
  margin: 50px 30px 30px;
}

.bsw-filter-form {
  padding: 16px 20px;
  overflow: hidden;
  margin-bottom: 10px;
  background: #fafafa;
  border: 1px solid #e8e8e8;

  .ant-form-item {
    margin: 0 0 8px;
  }

  .bsw-filter-item {
    padding: 0 4px 4px;
    float: left;

    > .ant-form-item-label label {
      font-size: 12px;
      color: rgba(0, 0, 0, .60);
    }

    &.bsw-filter-action button {
      margin: 0;
    }
  }
}

.bsw-page-container {
  background: white;
}

.ant-form-item-required:before {
  animation: bsw-breathing 2s infinite;
}

.bsw-chart-container {
  background: white;

  .bsw-filter-form {
    border: none;
  }

  .bsw-filter-form {
    margin-bottom: 0;
  }

  .ant-divider {
    margin: 0;
  }
}

div.modal-container-center div.ant-modal-body > div {
  text-align: center;
}

.modal-block-only {
  display: block;
  margin: 0 auto;
}

.ant-spin-container:after {
  z-index: 998;
}

.ant-checkbox-wrapper {
  &.danger {
    color: #f54f4f;
    animation: bsw-breathing-top 1s infinite;
  }
}

a.bsw-preview-link {
  padding-right: 5px;
}

#bsw-iframe {
  width: 100%;
  border: none;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}

.ant-back-top {
  z-index: 998;
  right: 80px;
  @media screen and (max-width: @mobile-lg) {
    right: 50px;
    bottom: 40px;
  }
}

.ant-modal {
  max-width: calc(~"100vw - 16px");
  margin: 8px auto;
  overflow-x: hidden;
  padding: 0;
  border-radius: 4px;
}

ul.ant-pagination li {
  margin-bottom: 5px;
}

blockquote {
  padding: 6px 10px;
  font-style: normal;
  line-height: 1.5;
  overflow: hidden;
  border-left: 5px solid #ccc;
  margin: 10px 0;
  background-color: #fbfbfb;
  border-radius: 2px;

  p {
    margin: 8px 0 !important;
  }
}

.ant-breadcrumb-separator {
  color: rgba(0, 0, 0, 0.15);
}

.ant-empty-normal {
  margin: 16px 0;
}

.ant-popover-inner-content {
  padding: 12px;
}

.bsw-preview table td p {
  margin-top: unset;
  margin-bottom: unset;
}

.ant-btn {
  &.bsw-btn {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);

    &:hover, &:active {
      opacity: .8;
    }
  }

  &.bsw-btn[disabled] {
    color: rgba(0, 0, 0, .25);
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    text-shadow: none;
    box-shadow: none;

    &:hover, &:active {
      background-color: #f5f5f5 !important;
      border-color: #d9d9d9 !important;
      opacity: unset;
    }
  }

  &.ant-btn-bsw-primary, &.ant-btn-bsw-primary:hover, &.ant-btn-bsw-primary:active {
    background-color: #007bff !important;
    border-color: #007bff !important;
  }

  &.ant-btn-bsw-secondary, &.ant-btn-bsw-secondary:hover, &.ant-btn-bsw-secondary:active {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
  }

  &.ant-btn-bsw-success, &.ant-btn-bsw-success:hover, &.ant-btn-bsw-success:active {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
  }

  &.ant-btn-bsw-danger, &.ant-btn-bsw-danger:hover, &.ant-btn-bsw-danger:active {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
  }

  &.ant-btn-bsw-warning, &.ant-btn-bsw-warning:hover, &.ant-btn-bsw-warning:active {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
  }

  &.ant-btn-bsw-info, &.ant-btn-bsw-info:hover, &.ant-btn-bsw-info:active {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
  }

  &.ant-btn-bsw-light, &.ant-btn-bsw-light:hover, &.ant-btn-bsw-light:active {
    background-color: #f8f9fa !important;
    border-color: rgba(52, 58, 64, .3) !important;

    &.bsw-btn {
      color: #343a40;
    }
  }

  &.ant-btn-bsw-dark, &.ant-btn-bsw-dark:hover, &.ant-btn-bsw-dark:active {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
  }
}

.bsw-tabs-fit .ant-tabs-bar {
  margin: 0;
  border-bottom: none;
}

.bsw-work-task-drawer {
  .ant-drawer-body {
    padding: 50px;
  }

  .ant-timeline-item {
    padding: 0 0 40px;
  }

  .ant-timeline-item-content {
    margin: 0 0 0 40px;
  }

  .ant-timeline-item-content > div {
    margin-bottom: 5px;
  }

  .ant-timeline-item-tail {
    border-left: 1px dotted #8ab9ff;
  }
}

.bsw-work-task-week-report {
  background: #fff;
  padding: 80px 120px;

  @media screen and (max-width: @mobile-lg) {
    padding: 50px 40px;
  }

  .ant-timeline-item {
    padding: 0 0 50px;
  }

  .ant-timeline-item-content {
    margin: 0 0 0 40px;
  }

  .ant-timeline-item-content > div {
    margin-bottom: 5px;
  }

  .ant-timeline-item-tail {
    border-left: 1px dotted #8ab9ff;
  }
}

.preview-children {
  background-color: rgba(50, 144, 251, 0.03);
}

.task-status-done {
  background-color: rgba(0, 130, 41, 0.1);
}

.task-status-overdue {
  background-color: rgba(250, 150, 0, 0.06);
}

code, kbd, pre, samp {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

textarea[size="large"] {
  font-size: 16px;
}

.bsw-preview {
  .ant-statistic-content {
    font-size: unset;
  }

  .ant-statistic-content-value-decimal, .ant-statistic-content-suffix {
    font-size: 12px;
  }
}

.bsw-drawer {
  .ant-drawer-content-wrapper {
    @media screen and (max-width: @mobile-lg) {
      width: 100% !important;
    }
  }
}

.bsw-menu-mobile {
  .ant-drawer-content {
    background-color: transparent;
  }
}

.bsw-footer-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 20px;
  text-align: right;
  left: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.bsw-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
  overflow: hidden;
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
}

.ant-btn .bsw-icon {
  transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
  line-height: 1;

}

.ant-btn > svg {
  pointer-events: none
}

.ant-result {
  padding: 10px;

  .ant-result-icon {
    margin-bottom: 16px;

    > .anticon {
      font-size: 56px;
    }
  }

  .ant-result-title {
    font-size: 20px;
  }

  .ant-result-subtitle {
    margin-top: 10px;
  }
}

.bsw-filter-without-label {
  &.ant-form-vertical .ant-form-item {
    padding-bottom: 0;
  }
}

.bsw-item-tools-upload {
  margin: 0;
}

.bsw-modal-title-center .ant-modal-title {
  text-align: center;
}
